<div class="row d-flex justify-content-center align-items-center">
  <p class="d-flex justify-content-center align-items-center">{{firstTime?"Hai catturato un "+squadraRoccia.name+"!":"Qui hai già preso "+squadraRoccia.name}}</p>
</div>
<div class="row d-flex justify-content-center align-items-center">
  <img [src]="squadraRoccia.image" alt="{{squadraRoccia.name}}" class="img-fluid" style="max-width:30%">
</div>
<div class="row d-flex justify-content-center align-items-center mt-3">
  <button class="btn btn-primary" routerLink="/profilo">Vai al tuo profilo</button>
</div>
