<div class="row d-flex justify-content-center align-items-center">
  <p class="d-flex justify-content-center align-items-center">{{firstTime?"Hai catturato un "+squadraGhiaccio.name+"!":"Qui hai già preso "+squadraGhiaccio.name}}</p>
</div>
<div class="row d-flex justify-content-center align-items-center">
  <img [src]="squadraGhiaccio.image" alt="{{squadraGhiaccio.name}}" class="img-fluid" style="max-width:30%">
</div>
<div class="row d-flex justify-content-center align-items-center mt-3">
  <button class="btn btn-primary" routerLink="/profilo">Vai al tuo profilo</button>
</div>
